# Python
*.egg-info/
.eggs/
build/
dist/
*.pyc
.cache/
.tox

# IDE
.idea/

# Development
passfile.txt

# Mac
*.DS_store

# Local Virtualenv
env/

# PyInstaller
PyInstaller-3.2/
PyInstaller-3.2.tar.gz

# VS Code
.vscode/